
.btn-nav-auth {
    background-color: #6b8e23; 
    color: #ffffff;
    padding: 10px 22px;
    border-radius: 5px; 
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease; 
}


.btn-nav-auth:hover {
    background-color: #4a3423; 
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff ;
    opacity: 1 ;
}